    <div id="header">
        <h1>Nine Round</h1>
        <p>Inventory</p>
    </div>

    <div class="sidebarMenu">
        <div class="sidebarMenuImg">
            <img src="" alt="">
        </div>
        <div class="sidebarMenuText">
            Event
        </div>
    </div>
    <div class="sidebarMenu">
        <div class="sidebarMenuImg">
            <img src="" alt="">
        </div>
        <div class="sidebarMenuText">
            Inventory
        </div>
    </div>
    <div class="sidebarMenu">
        <div class="sidebarMenuImg">
            <img src="" alt="">
        </div>
        <div class="sidebarMenuText">
            Barcode
        </div>
    </div>
