<style>
/* ----------------------------------- Header ----------------------------------- */
#heading{
    padding: 25px 0 0 25px;
}

/* ----------------------------------- Table ----------------------------------- */

    #itemTable{
        margin: 20px 40px 0 40px;
        height: fit-content;
    }
    .itemTableHeading{
        font-weight: bold;
        width: 100%;
    }
    .itemTableRow{
        display: flex;
        padding: 12px;
    }
    .tableRow{
        border-bottom: 2px solid #878787;
    }
    .checkBoxesColumn {
        margin-right: 10px;
    }
    .checkBoxesColumn input{
        height: 15px;
        width: 15px;
    }
    .idColumn {
        width: 7%;
    }

    .namaPakaianColumn {
        width: 15%;
    }

    .keteranganColumn {
        width: 43%;
    }

    .ukuranColumn {
        width: 7%;
    }

    .hargaColumn {
        width: 12%;
    }

    .groupColumn {
        width: 10%;
    }
/* ----------------------------------- Table ----------------------------------- */
#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}
#buttons input{
    margin-right: 20px;
    height: 40px;
    width: 100px;
    background-color: #4478FF;
    color: white;
    border: 0;
    border-radius: 4px;
    font-size: 15px;
}
#downloadButton{
    margin-left: 20px;
    height: 40px;
    width: 90px;
    background-color: #4478FF;
    color: white;
    border: 0;
    border-radius: 4px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* #generateButton */
</style>

{% extends 'main.html' %}

{% block content %}
{% load humanize %}
<div id="heading"><h2>Generate Barcode</h2></div>

<form method="POST">
    {% csrf_token %}
    <div id="itemTable">
        <div style="display: flex; border-bottom: 2px solid #878787;">
            <div class="itemTableHeading itemTableRow">
                <div class="checkBoxesColumn"><input class="checkAll" type="checkbox"></div>
                <div class="idColumn">ID</div>
                <div class="namaPakaianColumn">Nama</div>
                <div class="keteranganColumn">Keterangan</div>
                <div class="ukuranColumn">Ukuran</div>
                <div class="hargaColumn">Harga</div>
                <div class="groupColumn">Group</div>
            </div>
            <div style="width: 10px;"></div>
        </div>
        <div class="scrollablePartTable" style="height: 580px;">
            {% for item in items %}
                <div class="itemTableRow tableRow">
                    <div class="checkBoxesColumn"><input class="checkboxes" type="checkbox" name="selected_items" value="{{item.id}}"></div>
                    <div class="idColumn">{{item.id}}</div>
                    <div class="namaPakaianColumn">{{item.nama}}</div>
                    <div class="keteranganColumn">{{item.keterangan}}</div>
                    <div class="ukuranColumn">{{item.ukuran}}</div>
                    <div class="hargaColumn">Rp {{item.harga | floatformat | intcomma}}</div>
                    <div class="groupColumn">{{item.items_group}}</div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="buttons">
        <input id="generateButton" type="submit" value="Generate" name="generate">
        <a id="downloadButton" href="{% url 'barcode-download-url' %}" download="generated_barcode.docx">Download</a>
    </div>
    

</form>


<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script>
    $(document).ready(function () {
        $('#generateButton').click(function () {
            var id = [];
            var csrf = $('input[name=csrfmiddlewaretoken').val();
            $(':checkbox:checked').each(function (i) {
                id[i] = $(this).val()
            })
            if (id.length === 0) {
                alert("Please select items.")
            } 
            else {
                console.log(id)
                $.ajax({
                    url: ".",
                    method: "POST",
                    data:
                    {
                        id,
                        csrfmiddlewaretoken: csrf
                    }
                })
            }

        });

        $(function () {
            $('.checkAll').click(function () {
                if (this.checked) {
                    $(".checkboxes").prop("checked", true);
                } else {
                    $(".checkboxes").prop("checked", false);
                }
            });
        });
    })
</script>
{% endblock %}