<style>

    /* ----------------------------------- Heading and Sub-heading ----------------------------------- */
    #heading{
        flex-grow: 2;
        display: flex;
        align-items: end;
        padding-left: 25px;
        /* justify-content: center; */
    }
    #subHeading{
        margin: 0 30px 0 30px;
        display: flex;
        flex-grow: 2;
        align-items: center;
        justify-content: space-between;

    }
    #searchBar{
        width: 500px;
        height: 45px;
        font-size: 20px;
        padding-left: 10px;
        /* border-radius: 12px; */
        margin: 0 0 0 10px;
    }
    #eventButtons input{
        width: 170px;
        height: 45px;
        font-size: 15px;
        margin: 10px;
        border-radius: 4px;
        /* margin-left: auto; */
    }
    #deleteEventBtn{
        background-color: #D4D4D4;
        color: white;
        border: 0;
    }
    #newEventBtn{
        background-color: #813E00;
        color: white;
        border: 0;
    }
    /* #newEventBtn img{
        width: 2px;
        height: 2px;
        border: 2px solid black;
    } */
    a,
    a:visited,
    a:hover,
    a:active {
        color: black;
    }
    /* ----------------------------------- Table ----------------------------------- */
    #eventTable{
        /* flex-grow: 6; */
      /* border:1px solid black; */
        height: 80%;
        margin-bottom: 10px;
    }
    .itemTableHeading{
        width: 100%;
    }

    .eventTableRow{
        display: flex;
        padding: 12px;
    }
    .tableRow{
        border-bottom: 2px solid #878787;
    }
    .eventTableHeading{
        font-weight: bold;
    }
    .eventTableRowContent:hover{
        background-color: silver;
        /* cursor: default; */
    }
    .namaHeading{
        padding-left: 10px;
        width: 15%;
    }
    .lokasiHeading{
        width: 40%;
    }
    .tanggalMulaiHeading{
        width: 15%;

    }
    .tanggalBerakhirHeading{
        width: 15%;
    }
    .statusHeading{
        width: 15%;

    }
</style>


{% extends 'main.html' %}
{% block content %}
<!-- {% load static %} -->
<div id="heading"">
    <h2 style="color: #813E00;brown;">Events</h2>
</div>
<div id="subHeading">
    <form method="GET" action="{% url 'events' %}">
        <input id="searchBar" type="text" placeholder="Search event..." name="q">
    </form>
    
    <div id="eventButtons">
        <form method="POST">
            {% csrf_token %}
        <input type="submit" name="delete-event-button" id="deleteEventBtn" value="Delete Event">
        <input type="submit" name="new-event-button" id="newEventBtn" value="New Event">
        <!-- <a id="deleteEventBtn" href=""><div>Delete Event</div>
        <a id="newEventBtn" href="/new-event"><div>New Event</div></a> -->
    </div>
</div>
<div id="eventTable">
<div style="display: flex; border-bottom: 2px solid #878787;">
    <div class="eventTableRow itemTableHeading">
        <input class="checkAll" type="checkbox">
        <div class="eventTableHeading namaHeading">Nama</div>
        <div class="eventTableHeading lokasiHeading">Lokasi</div>
        <div class="eventTableHeading tanggalMulaiHeading">Tanggal Mulai</div>
        <div class="eventTableHeading tanggalBerakhirHeading">Tanggal Berakhir</div>
        <div class="eventTableHeading statusHeading">Status</div>
    </div>
    <div style="width: 10px;"></div>
</div>
    <div class="scrollablePartTable" style="height: 95%;">
        {% for event in events %}
        <a class="eventTableRow eventTableRowContent tableRow" href="/event-detail/{{event.id}}">
            <input class="checkboxes" type="checkbox" name="events_to_delete" 
                value="{{event.id}}">
            <div class="eventTableColumn namaHeading">{{event.nama}}</div>
            <div class="eventTableColumn lokasiHeading">{{event.lokasi}}</div>
            <div class="eventTableColumn tanggalMulaiHeading">{{event.tanggal_mulai}}</div>
            <div class="eventTableColumn tanggalBerakhirHeading">{{event.tanggal_berakhir}}</div>
            <div class="eventTableColumn statusHeading">{{event.status}}</div>
        </a>
    
        {% endfor %}
        
    </div>
</form>

</div>

    
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script>
    $(document).ready(function () {
        $('#deleteEventBtn').click(function () {
            if (confirm("Are you sure want to delete this?") == true) {
                var id = [];
                var csrf = $('input[name=csrfmiddlewaretoken').val();
                $(':checkbox:checked').each(function (i) {
                    id[i] = $(this).val()
                })
                if (id.length === 0) {
                    alert("Please select item to delete.")
                } 
                else {
                    console.log(id)
                    $.ajax({
                        url: ".",
                        method: "POST",
                        data:
                        {
                            id,
                            csrfmiddlewaretoken: csrf
                        }
                    })
                }
            }
            else {
                return false;
            }
        });

        $(function () {
            $('.checkAll').click(function () {
                if (this.checked) {
                    $(".checkboxes").prop("checked", true);
                } else {
                    $(".checkboxes").prop("checked", false);
                }
            });
        });
    })
</script>
{% endblock %}

