<style>
    /* ----------------------------------- Heading ----------------------------------- */
    
    #heading {
        display: inline-flex;
        margin: 70px 20px 20px 50px;
    }
    
    #eventDate {
        background-color: #FF4444;
        height: max-content;
        margin-left: auto;
        height: 35px;
        width: 210px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
        margin-top: 20px;
    }
    /* ----------------------------------- Table ----------------------------------- */
    
    #itemTable {
        margin: 20px 40px 0 40px;
        height: fit-content;
    }
    
    .itemTableHeading {
        /* display: flex; */
        font-weight: bold;
    }
    
    .itemTableRow {
        display: flex;
        border-bottom: 2px solid #878787;
        padding: 12px;
    }
    
    .namaPakaianHeading {
        padding-left: 10px;
        width: 20%;
    }
    
    .keteranganHeading {
        width: 40%;
    }
    
    .ukuranHeading {
        width: 15%;
    }
    
    .hargaHeading {
        width: 15%;
    }
    /* ----------------------------------- Table ----------------------------------- */
    
    #stockingButton {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #stockingButton a div {
        height: 20px;
        background-color: #4478FF;
        color: white;
        font-weight: bolder;
        border-radius: 12px;
        width: 220px;
        height: 43px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

{% extends 'main.html' %} {% block content %}
<div id="heading">
    {% for event in events %}
    <div>
        <h2>{{event.nama}}</h2>
        <h4 style="margin-top: 15px;">{{event.lokasi}}</h4>
    </div>
    <div id="eventDate">
        <h5>{{event.tanggal_mulai}} - {{event.tanggal_berakhir}}</h5>
    </div>
    {% endfor %}
</div>

<div id="itemTable">
    <div class="itemTableHeading itemTableRow">
        <input type="checkbox">
        <div class="namaPakaianHeading">Nama Pakaian</div>
        <div class="keteranganHeading">Keterangan</div>
        <div class="ukuranHeading">Ukuran</div>
        <div class="hargaHeading">Harga</div>
    </div>
    <div class="scrollablePartTable" style="height:450px;">
        {% for event_detail in event_details %}
        <div class="itemTableRow">
            <input type="checkbox">
            <div class="namaPakaianHeading">{{event_detail.nama}}</div>
            <div class="keteranganHeading">{{event_detail.keterangan}}</div>
            <div class="ukuranHeading">{{event_detail.ukuran}}</div>
            <div class="hargaHeading">{{event_detail.harga}}</div>
        </div>
        {% endfor %}
    </div>
</div>

<div id="stockingButton">
    <a href="/event-detail/{{events.0.id}}/stock-checking">
        <div>Lakukan Stock Checking</div>
    </a>
</div>
{% endblock %}