<style>
    /* ----------------------------------- Heading ----------------------------------- */
    #heading{
        display: flex;
        margin: 50px;
    }
    #upload-section{
        display: flex;
        margin-left: 50px;
    }
    #upload-section p{
        margin-left: 20px;
        color: red;
    }
    #manipulateButton{
        display: flex;
        margin-left: auto;
    }
    #manipulateButton input{
        margin-right: 20px;
        padding: 10px;
        border: 0;
        outline: none;
        color: white;
        border-radius: 6px;
        font-weight: bold;
    }
    #delete-button{
        background-color: grey;
    }
    #add-button{
        background-color: #4478FF;
    }
    /* ----------------------------------- Table ----------------------------------- */
    #itemTable{
        margin: 20px 0 0 0;
        height: fit-content;
    }
    .itemTableHeading{
        font-weight: bold;
        width: 100%;
    }
    .itemTableRow{
        display: flex;
        padding: 12px;
    }
    .tableRow{
        border-bottom: 2px solid #878787;
    }

    .idColumn {
        width: 67px;

    }

    .namaPakaianColumn {
        width: 15%;
    }

    .keteranganColumn {
        width: 35%;
    }

    .ukuranColumn {
        width: 7%;
    }

    .hargaColumn {
        width: 12%;
    }

    .statusColumn {
        width: 15%;
    }
    .lokasiColumn{
        width: 13%;
    }
</style>

{% extends 'main.html' %}
{% block content %}

{% load humanize %}
<div id="heading">
    <h1>All items in inventory</h1>
    <div id="manipulateButton">
        <form method="POST">
            {% csrf_token %}
            <input id="delete-button" type="submit" name="delete-button" value="Delete items">
            <input id="add-button" type="submit" name="add-button" value="Add items">
        </form>

    </div>
</div>
<div id="upload-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input id="upload-button" type="file" name="upload-button" value="Upload File">
        <input id="submit-upload" type="submit" name="submit-upload" value="Upload">
    </form>
    <p>    
    {% for message in messages %}
    {{message}}
    {% endfor %}
    </p>
</div>
<div id="itemTable">
    <div style="display: flex; border-bottom: 2px solid #878787;">
        <div class="itemTableHeading itemTableRow">
            <div class="idColumn">ID</div>
            <div class="namaPakaianColumn">Nama</div>
            <div class="keteranganColumn">Keterangan</div>
            <div class="ukuranColumn">Ukuran</div>
            <div class="hargaColumn">Harga</div>
            <div class="lokasiColumn">Lokasi</div>
            <div class="groupColumn">Group</div>
        </div>
        <div style="width: 10px;"></div>
    </div>
    <div class="scrollablePartTable" style="height: 580px;">
        {% for item in items %}
        <div class="itemTableRow tableRow">
            <div class="idColumn">{{item.id}}</div>
            <div class="namaPakaianColumn">{{item.nama}}</div>
            <div class="keteranganColumn">{{item.keterangan}}</div>
            <div class="ukuranColumn">{{item.ukuran}}</div>
            <div class="hargaColumn">Rp {{item.harga | floatformat | intcomma}}</div>
            <div class="lokasiColumn">{{item.items_event_location}}</div>
            <div class="groupColumn">{{item.items_group}}</div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}