<style>
    #heading{
        display: inline-flex;
        margin: 30px 20px 20px 30px;
    }
    .inputRow{
        display: inline-flex;
        margin: 0 20px 20px 30px;
    }
    .inputRow input{
        margin-right: 10px;
    }
    .inputLabels{
        font-weight: bold;
    }
    .labelAndFields{
        /* flex-grow: 1; */
        margin: 0 40px 0 0;
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;

        align-items: start;
    }

    #searchField{
        padding: 8px;
        border: 0px solid black;
        border-radius: 5px;
        height: 30px;
        background-color: #F2F2F2;
        color: #505050;
    }
    .inventoryFormTextfield{
        padding: 8px;
        border: 0px solid black;
        border-radius: 5px;
        height: 30px;
        background-color: #F2F2F2;
        color: #505050;
    }
    #add-item-button{
        width: 70px;
        border-radius: 4px;
        height: 30px;
        background-color: #505050;
        color: white;

    }
    #id_warning_message{
        margin: 0 0 0 30px;
        color: red;
    }
    /* ----------------------------------- List heading ----------------------------------- */
    #listHeading{
        margin: 30px 30px 5px 30px;
        /* border: 1px solid black; */
        display: flex;
    }
    #listHeading input{
        margin-left: auto;
        height: 30px;
        width: 90px;
        margin-right: 50px;
        display: flex;
        justify-content: center;

        background-color: red;
        color: white;
        border-radius: 4px 4px 4px 4px;
        font-size: 13px;
    }
    /* ----------------------------------- Table ----------------------------------- */
    #itemTable {
            /* margin: 20px 20px 0 10px; */
        margin: 5px 30px 20px 30px;

            height: fit-content;
        }

        .itemTableHeading {
            font-weight: bold;
        }

        .itemTableRow {
            display: flex;
            border-bottom: 2px solid #878787;
            padding: 12px;
        }

        .checkBoxCol {
            width: 2%;
        }

        .tableNumber {
            width: 3%;
        }

        .itemID {
            width: 7%;
        }

        .namaPakaian {
            width: 30%;
        }

        .keteranganPakaian {
            width: 45%;
        }

        .ukuranPakaian {
            width: 7%;
        }

        .hargaPakaian {
            width: 7%;
        }
    /* ----------------------------------- Bottom ----------------------------------- */
    #bottomButtons {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        height: 100px;
        /* border: 1px solid black; */
        margin: 20px 20px 0 0;
    }
    #bottomButtons input {
        height: 35px;
        width: 80px;
        color: white;
        border-radius: 4px 4px 4px 4px;
        margin: 0 20px 0 20px;
        font-size: 15px;
    }
    #submit-button{
        background-color: red;
    }
    #cancel-button{
        background-color: silver;
    }
    /* ----------------------------------- Others ----------------------------------- */
    input[type=submit]{
        outline: none;
        border: 0;
    }
</style>

{% extends 'main.html' %}
{% block content %}
{% load humanize %}

<div id="heading">
    <h1>Delete item from inventory</h1>
</div>

<form id="searchIdFromInventory" method="POST">
    {% csrf_token %}
    <div class="inputRow">
            <input id="searchField" type="text" name="search-id" placeholder="ID..." autofocus>
            <input id="add-item-button" type="submit" name="add-item-button" value="Add item">
    </div>
    <div id="id_warning_message">        
        {% if raise_warning %}
        ID telah terpakai, gunakan ID lainnya.
        {% endif %}
    </div>
</form>

    <div id="listHeading">
        <h2>List items</h2>
        <!-- <input type="submit" name="delete-item" name="delete-item-button" value="Cancel items"> -->
    </div>
    <div id="itemTable">
        <div class="itemTableHeading itemTableRow">
            <div class="tableNumber">No.</div>
            <div class="itemID">ID</div>
            <div class="namaPakaian">Nama Pakaian</div>
            <div class="keteranganPakaian">Keterangan</div>
            <div class="ukuranPakaian">Ukuran</div>
            <div class="hargaPakaian">Harga</div>
        </div>
        <div class="scrollablePartTable" style="height:400px;">
            {% for item in items_to_be_deleted %}
            <div class="itemTableRow">
                <div class="tableNumber">{{forloop.counter}}</div>
                <div class="itemID">{{item.id}}</div>
                <div class="namaPakaian">{{item.nama}} </div>
                <div class="keteranganPakaian">{{item.keterangan}}</div>
                <div class="ukuranPakaian">{{item.ukuran}}</div>
                <div class="hargaPakaian">Rp {{item.harga | floatformat | intcomma}}</div>
            </div>
            {% endfor %}
        </div>
    </div>

    <form method="POST">
    <div id="bottomButtons">
        <input type="submit" name="submit-button" value="Delete" id="submit-button">

            {% csrf_token %}
            <input type="submit" name="cancel-button" value="Cancel" id="cancel-button">
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script>
        $(document).ready(function () {
            $('#submit-button').click(function () {
                if (confirm("Are you sure want to delete this?") == true) {
                    return true
                }
                else {
                    return false;
                }
            });
        })
    </script>

{% endblock %}