<style>
    #heading {
        display: inline-flex;
        margin: 30px 20px 20px 30px;
    }

    .labelAndFields {
        display: flex;
    }

    .inputRow {
        display: inline-flex;
        margin: 0 20px 20px 30px;

    }

    .inputLabels {
        font-weight: bold;
    }

    .labelAndFields {
        /* flex-grow: 1; */
        margin: 0 40px 0 0;
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;

        align-items: start;
    }

    .inventoryFormTextfield {
        padding: 8px;
        border: 0px solid black;
        border-radius: 5px;
        height: 30px;
        background-color: #F2F2F2;
        color: #505050;
    }

    #add-item-button {
        width: 70px;
        border-radius: 4px;
        height: 30px;
        background-color: #505050;
        color: white;

    }

    #id_warning_message {
        margin: 0 0 0 30px;
        color: red;
    }

    /* ----------------------------------- List heading ----------------------------------- */
    #listHeading {
        margin: 30px 30px 5px 30px;
        /* border: 1px solid black; */
        display: flex;
    }

    #listHeading input {
        margin-left: auto;
        height: 30px;
        width: 90px;
        margin-right: 50px;
        display: flex;
        justify-content: center;

        background-color: red;
        color: white;
        border-radius: 4px 4px 4px 4px;
        font-size: 13px;
    }

    /* ----------------------------------- Table ----------------------------------- */
    #itemTable {
        /* margin: 20px 20px 0 10px; */
        margin: 5px 30px 20px 30px;

        height: fit-content;
    }

    .itemTableHeading {
        font-weight: bold;
    }

    .itemTableRow {
        display: flex;
        border-bottom: 2px solid #878787;
        padding: 12px;
    }

    .checkBoxCol {
        width: 2%;
    }

    .tableNumber {
        width: 3%;
    }

    .itemID {
        width: 7%;
    }

    .namaPakaian {
        width: 30%;
    }

    .keteranganPakaian {
        width: 45%;
    }

    .ukuranPakaian {
        width: 7%;
    }

    .hargaPakaian {
        width: 7%;
    }

    /* ----------------------------------- Bottom ----------------------------------- */
    #bottomButtons {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        height: 100px;
        /* border: 1px solid black; */
        margin: 20px 20px 0 0;
    }

    #bottomButtons input {
        height: 35px;
        width: 70px;
        color: white;
        border-radius: 4px 4px 4px 4px;
        margin: 0 20px 0 20px;
        font-size: 15px;
    }

    #submit-button {
        background-color: #4478FF;
    }

    #cancel-button {
        background-color: silver;
    }

    /* ----------------------------------- Others ----------------------------------- */
    input[type=submit] {
        outline: none;
        border: 0;
    }
</style>

{% extends 'main.html' %}
{% block content %}
{% load humanize %}

<div id="heading">
    <h1>Add item to inventory</h1>
</div>

<form id="inventoryFormTextfields" method="POST">
    {% csrf_token %}
    <div class="inputRow">
        {% for field in form %}
        <div class="labelAndFields">
            <label class="inputLabels" for="">{{field.label}}</label>
            {{field}}
        </div>
        {% if forloop.last %}
        <div class="labelAndFields">
            <br>
            <input id="add-item-button" type="submit" name="add-item-button" value="Add item">
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div id="id_warning_message">
        {% if raise_warning %}
        ID telah terpakai, gunakan ID lainnya.
        {% endif %}
    </div>
</form>
<form method="POST">
    {% csrf_token %}
    <div id="listHeading">
        <h2>List items</h2>
        <input type="submit" id="deleteItemButton" name="delete-item-button" value="Delete items">
    </div>
    <div id="itemTable">
        <div class="itemTableHeading itemTableRow">
            <div class="checkBoxCol"><input class="checkAll" type="checkbox"></div>
            <div class="tableNumber">No.</div>
            <div class="itemID">ID</div>
            <div class="namaPakaian">Nama Pakaian</div>
            <div class="keteranganPakaian">Keterangan</div>
            <div class="ukuranPakaian">Ukuran</div>
            <div class="hargaPakaian">Harga</div>
        </div>
        <div class="scrollablePartTable" style="height:400px;">
            {% for item in items %}
            <div class="itemTableRow">
                <div class="checkBoxCol"><input class="checkboxes" type="checkbox" name="items_to_delete"
                        value="{{item.item_id}}" id="delete_product"></div>
                <div class="tableNumber">{{forloop.counter}}</div>
                <div class="itemID">{{item.item_id}}</div>
                <div class="namaPakaian">{{item.item_nama}} </div>
                <div class="keteranganPakaian">{{item.item_keterangan}}</div>
                <div class="ukuranPakaian">{{item.item_ukuran}}</div>
                <div class="hargaPakaian">Rp {{item.item_harga | floatformat | intcomma}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</form>
<form method="POST">
    {% csrf_token %}
    <div id="bottomButtons">
        <input type="submit" name="submit-button" value="Submit" id="submit-button">

        <input type="submit" name="cancel-button" value="Cancel" id="cancel-button">
</form>
</div>



<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script>
    $(document).ready(function () {
        $('#deleteItemButton').click(function () {
            if (confirm("Are you sure want to delete this?") == true) {
                var id = [];
                var csrf = $('input[name=csrfmiddlewaretoken').val();
                $(':checkbox:checked').each(function (i) {
                    id[i] = $(this).val()
                })
                if (id.length === 0) {
                    alert("Please select item to delete.")
                }
                else {
                    console.log(id)
                    $.ajax({
                        url: ".",
                        method: "POST",
                        data:
                        {
                            id,
                            csrfmiddlewaretoken: csrf
                        }
                    })
                }
            }
            else {
                return false;
            }
        });

        $(function () {
            $('.checkAll').click(function () {
                if (this.checked) {
                    $(".checkboxes").prop("checked", true);
                } else {
                    $(".checkboxes").prop("checked", false);
                }
            });
        });
    })
</script>
{% endblock %}