<style>
    /* ----------------------------------- Heading ----------------------------------- */

    #heading {
        display: inline-flex;
        margin: 70px 20px 0 50px;
        /* border: 1px black solid; */
    }

    #eventDate {
        background-color: #FF4444;
        height: max-content;
        margin-left: auto;
        height: 35px;
        width: 210px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
        margin-top: 20px;
    }

    #subHeading {
        display: inline-flex;
        /* justify-content: center; */
        align-items: center;
        margin: 10px 20px 20px 50px;
    }

    #subHeadingTextFields {
        margin-left: auto;
        margin-right: 50px;
        display: inline-flex;
        /* border: 1px black solid; */
    }

    .inputKodeBarangTextField {
        /* border: 1px blue solid; */
        margin-left: auto;
        display: inline-flex;
        height: 30px;
    }

    .kodeBarangSearchButton input {
        /* align-items: center; */
        outline: none;
        height: 30px;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3A3A3A;
        color: white;
        border-radius: 0px 4px 4px 0px;
        font-size: 12px;
    }


    .inputKodeBarangTextField>input {
        width: 200px;
        padding-left: 10px;
        /* border: 1px solid black; */
        /* border-radius: 10px 0px 0px 10px; */
        border: 1px solid #676767;
        border-right: 0;
        border-radius: 4px 0 0 4px;
    }

    /* ----------------------------------- Table ----------------------------------- */

    #itemStockCheckingTable {
        /* height: 100px; */
    }

    .itemTableHeading {
        display: inline-flex;
        font-weight: bold;
        width: 100%;
        
    }

    .itemTableRow {
        display: flex;
        padding: 12px;
    }
    .tableRow{
        border-bottom: 2px solid #878787;
    }

    .itemID {
        width: 7%;
    }

    .namaPakaianHeading {
        width: 22%;
    }

    .keteranganHeading {
        width: 40%;
    }

    .ukuranHeading {
        width: 7%;
    }

    .hargaHeading {
        width: 12%;
    }

    .statusHeading {
        width: 15%;
    }

    #itemAggregation {
        display: flex;
        /* width: 500px; */
        border: solid 2px #878787;
        height: 35px;
        /* border-top: 0; */
    }

    .aggregation {
        width: 100%;
        display: flex;
        /* border: solid 1px black; */
        align-items: center;
    }

    .itemColorIndicator {
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }

    /* ----------------------------------- Others ----------------------------------- */
    #backButton {
        height: 200px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        /* margin-left: auto; */
        /* margin-top: 10px;
        margin-right: 10px; */
    }

    #backButton a {
        background-color: #4478FF;
        font-weight: bold;
        width: 100px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
    }


    a,
    a:visited,
    a:hover,
    a:active {
        color: white;
    }
</style>

{% extends 'main.html' %} {% block content %}
{% load static %}
{% load humanize %}
<div id="heading">
    {% for event in events %}
    <div>
        <h2>{{event.nama}}</h2>
        <h4 style="margin-top: 15px;">{{event.lokasi}}</h4>
    </div>
    <div id="eventDate">
        <h5>{{event.tanggal_mulai}} - {{event.tanggal_berakhir}}</h5>
    </div>
</div>

<div id="subHeading">
    <div style="font-weight: bold; color: #4478FF; ">
        Pengecekan dilakukan
    </div>
    <div id="subHeadingTextFields">
        <form method="POST" action="">
            <div class="inputKodeBarangTextField">
                {% csrf_token %}
                <input id="tersediaText" name="tersediaText" type="text" placeholder="Kode barang...">
                <div class="kodeBarangSearchButton">
                    <input type="submit" value="Tersedia">
                    </input>
                </div>
            </div>
        </form>
        <form method="POST" action="" style="margin-left: 15px;">
            <div class="inputKodeBarangTextField">
                {% csrf_token %}
                <input id="terjualText" name="terjualText" type="text" placeholder="Kode barang...">
                <div class="kodeBarangSearchButton">
                    <input type="submit" value="Terjual">
                    </input>
                </div>
            </div>
        </form>

    </div>
</div>

<div id="itemStockCheckingTable">
<div style="display: flex; border-bottom: 2px solid #878787;">
    <div class="itemTableHeading itemTableRow">
        <div class="itemID">ID Item</div>
        <div class="namaPakaianHeading">Nama Pakaian</div>
        <div class="keteranganHeading">Keterangan</div>
        <div class="ukuranHeading">Ukuran</div>
        <div class="hargaHeading">Harga</div>
        <div class="statusHeading">Status</div>
    </div>
    <div style="width: 10px;"></div>
</div>
    <div class="scrollablePartTable" style="height: 480px;">
        {% for event_detail in event_details %} {% if event_detail.items_status == 'Terjual' %}
        <div class="itemTableRow tableRow" style="background-color: #06E82A;">
            {% elif event_detail.items_status == 'Tersedia' %}
            <div class="itemTableRow tableRow" style="background-color: #E1BD00;">
                {% elif event_detail.items_status == 'Tidak ada' %}
                <div class="itemTableRow tableRow" style="background-color: #FF4444;">
                    {% else %}
                    <div class="itemTableRow tableRow">
                        {% endif %}
                        <div class="itemID">{{event_detail.id}}</div>
                        <div class="namaPakaianHeading">{{event_detail.nama}}</div>
                        <div class="keteranganHeading">{{event_detail.keterangan}}</div>
                        <div class="ukuranHeading">{{event_detail.ukuran}}</div>
                        <div class="hargaHeading">Rp {{event_detail.harga | floatformat | intcomma}}</div>
                        <div class="statusHeading">{{event_detail.items_status}}</div>
                    </div>
                    {% endfor %}
                </div>
                <div id="itemAggregation">
                    <div class="aggregation">
                        Total item: {{total_count}}</div>
                    <div class="aggregation">
                        <div class="itemColorIndicator" style="background-color:#06E82A ;"></div>Terjual:
                        {{terjual_count}}
                    </div>
                    <div class="aggregation">
                        <div class="itemColorIndicator" style="background-color:#E1BD00 ;"></div>Tersedia:
                        {{barang_tersedia_count}}
                    </div>
                    <div class="aggregation">
                        <div class="itemColorIndicator" style="background-color:#FF4B4B ;"></div>Tidak diketahui:
                        {{barang_tidak_ada_count}}
                    </div>
                </div>
            </div>
            <div id="backButton"><a href="/event-detail/{{event.id}}">
                    Back
                </a>
            </div>
            {% endfor %} {% endblock %}